<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
                <p></p>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                    </thead>

                    {% for list in lists %}
                    <tr>
                        <td> {{ list.name }} </td>
                        <td>{{ list.items.all|length}}</td>
                    </tr>
                    {% endfor %}
                </table>
        </div>
    </main>
</body>
</html>
